.timer{
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-text-fill: red;
}

.playersXP{
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-text-fill: red;
}

.playersHP{
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-text-fill: purple;
}

.bossHP{
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-text-fill: green;
}

.playersHPRed{
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-text-fill: red;
}

.progressBarFull{
    -fx-accent : #2bff2b;
}

.progressBarRed{
    -fx-accent : red;
}